.page {
    position: relative;
    top: 10%;
    left:4%;
    width:92%;
    height: auto;
    display: block;
    text-align: center;
}

.doliprane {
    color: rgba(253,201,43,255);
    font-size: 400%;
    text-shadow: #FC0 1px 0 10px;
}

.principal {
    position: relative;
    height: auto;
    width: 70%;
    margin-top: 3%;
    border-radius: 15px;
}

.containing {
    position: relative;
    margin-top: 3%;
    margin-left:20%;
    width:60%;
    text-align: center;
}

.paragraph {
    color: white;
    font-size: 100%;
}

@media screen and (width > 1200px) {
    .paragraph {
        font-size: 150%;
    }
}

@media screen and (width < 400px) {
    .paragraph {
        font-size: 80%;
    }
}

.imageing {
    position: relative;
    height: 100%;
    width: 40%;
    margin-left: 30%;
    margin-top: 3%;
    border-radius: 15px;
    align-self: center;
}

.map {
    width: 100%;
    border-radius: 15px;
}

.point {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: rgba(253,201,43,255);
    border-radius: 50%;
    cursor: pointer;
    transition:ease-in-out 0.3s;
}

.point[data-town="Perth"] {
    top: 63%;
    left: 9%;
}

.point[data-town="Darwin"] {
    top:7%;
    left:43%;
}

.point[data-town="Adelaide"] {
    top: 70%;
    left: 60%;
}

.point[data-town="Melbourne"] {
    top:79%;
    left:75%;
}

.point[data-town="Hobart"] {
    top:93%;
    left: 81%;
}

.point[data-town="Canberra"] {
    top: 71%;
    left: 83%;
}

.point[data-town="Sydney"] {
    top: 67%;
    left: 89%;
}

.point[data-town="Brisbane"] {
    left: 94%;
    top: 48%;
}

.point:hover::after {
    content: attr(data-town);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 4px 8px;
    background-color: brown;
    color: white;
    font-size: 12px;
    border-radius: 5px;
    white-space: nowrap;
}
  
.point:hover::after {
    opacity: 1;
    visibility: visible;
}
  
.point::after {
    content: attr(data-town);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 4px 8px;
    background-color: brown;
    color: white;
    font-size: 12px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-out;
}