.textbox {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    transition: ease-in-out 0.3s;
    height: 80%;
    display: inline-block;
    width: 80%;
    position: relative;
    border-radius: 15px;
    padding: 5% 8%;
}

.textbox h1 {
    font-size: 100%;
    transition: ease-in-out 0.3s;
}

.textbox p {
    position:sticky;
    font-size: 100%;
    transition: ease-in-out 0.3s;
}
